#home_main{
    /* background-color: black; */
    background-image: url(/Images/HomePage.jpg);
    background-size: cover;
    background-position-y: center;
    color: white;
    height: 100vh;
    position: relative;
    width: 100vw;

}
h1{
    font-size: 48px;
    color:#DB6C79;
}
h2{
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}
#overlay{

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.4);
    display: grid;
    place-items: center;
    padding: 0px 100px;
    
}